.mainContainer {
    width: 100%;
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.navContainer {
    a {
        margin: 10px
    }
}

.userContainer {
    label, a {
        margin: 10px;
    }
}

.content {
    width: 800px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 30px;

}