$full-black: black;
$black: #20262E;
$light-black: #2d333a;
$purple: #913175;
$pink: #CD5888;
$dark-pink: #cf3776;
$dark-grey: rgb(158, 157, 157);
$medium-grey: #c0c0c0;
$grey: #E9E8E8;
$off-white: rgb(245, 245, 245);
$white: white;
$starcolour: #f4f11e;