.mainContainer {
    display: flex;
    flex-direction: row;


}

.sectionTitle {
    span{
        font-size: 1.5em;
        font-weight: bold;
        &:hover {
            border: 1px solid black;
            border-radius: 5px;
            cursor: pointer;
        }
    }


    input {
        font-size: 1.5em;
    }
}

.sectionInfo {
    display: flex;
    flex-direction: row;
    gap: 3px;


}

.sectionContainer {
    padding: 3px;
    min-width: 50%;
    border-bottom: 1px solid black;
}

.controlsContainer {

}

.chordContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}