.mainContainer {
    display: flex;
    flex-direction: row;


}

.sectionInfo {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.sectionContainer {
    padding: 3px;
    min-width: 50%;
    border-bottom: 1px solid black;
}

.controlsContainer {

}

.chordContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}