.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.sectionTitle {
    span{
        font-size: 1.5em;
        font-weight: bold;
        &:hover {
            border: 1px solid black;
            border-radius: 5px;
            cursor: pointer;
        }
    }


    input {
        font-size: 1.5em;
    }
}

.sectionKey {
    display: flex;
    flex-direction: row;
    gap: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;


}

.sectionContainer {
    padding: 3px;
    min-width: 50%;

    display: flex;
    flex-direction: column;
    gap: 5px;

}

.controlsContainer {

}

.chordContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}