@use "../../styles/colours.scss";

.floatingContainer {
    position: sticky;
    bottom: 0;
    padding: 10px;
    
}
.innerContainer {
    margin: auto;
    width: 70%;
    border: 1px solid colours.$purple;
    background-color: rgba(colours.$pink, .9);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding: 5px;
    color: colours.$black;
    font-weight: 500;
}

.numericView {
    padding: 3px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        background-color: colours.$purple;
        color: colours.$grey;
    }

    &.notSelected:hover {
        background-color: colours.$dark-pink;
    }
}

.transposeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    .transposeButton {
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 5px;
        background-color: colours.$dark-pink;
        color: colours.$grey;
        cursor: pointer;
        &:hover {
            background-color: colours.$purple;
        }
    }
}


.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContainer {
    display: flex;
    flex-direction: column;
}

.metaInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .userName {
        color: colours.$purple;
    }

    .score {

    }

    .star {
        color: colours.$starcolour;
    }

    .lastUpdated {
        font-size: 0.9em;
        color: colours.$dark-grey;
    }
}

.infoHeader {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid colours.$black;
    .songName {
        font-weight: bold;
        font-size: 2.5em;
    }

    .artist {
        font-size: 1.2em;
    }
}
