@use "../../styles/colours.scss";

.ratingForm {
    display: flex;
    flex-direction: column;

    textarea {
        white-space: pre-wrap;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.userRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    .buttons {
        span {
            color: darkgray;
            margin: 3px;
        }
        span:hover {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }
    } 
}

.ratingContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.ratingHeader {
    display: flex;
    flex-direction: row;
    gap: 8px;
    .username {
        color: colours.$purple;
        font-weight: bold;
    }

    .date {
        color: colours.$dark-grey;
    }
}