@use "../../styles/colours.scss";

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;


    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    background-color: colours.$pink;
    padding-top: 10px;
}

.paramsContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid colours.$purple;


}

.filterContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom: 2px solid colours.$purple;
}

.filterOption {
    padding-left: 3px;
    padding-right: 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: colours.$grey;

    cursor: pointer;

    &.notSelected {
        &:hover {
            background-color: colours.$purple;

        }
    }

    &.selected {
        background-color: colours.$purple;
        color: colours.$grey;
    }
}

.sortByContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contentContainer {
    background-color: colours.$off-white;
    width: 100%;

}

.pageController {
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: colours.$white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.searchLimit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    select {
        height: 60%;
    }
}
