@use "../../styles/colours.scss";

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 3px;
    min-width: 600px;

    td {
        max-width: 350px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.star {
    color: colours.$starcolour;
}

.totalRatings {
    color: colours.$dark-grey;
}